<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    {#
Quick Test Data (with whitespace junk):

https://scholar.google.ch/citations?user=qdpiy94AAAAJ&hl=de&oi=ao
 https://scholar.google.ch/citations?user=aiulJmIAAAAJ&hl=de
     https://scholar.google.ch/citations?user=56lK2dUAAAAJ&hl=de
 https://scholar.google.ch/citations?user=5seWzOkAAAAJ&hl=de


 #}
{#    <div id="page-wrapper">#}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">{{ header }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% if errors %}
                <div class="row">
                    <div class="col-lg-12">
                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <form action="/multisearch" method="post">
                        <div class="form-group">
                            <label for="links">Google Scholar Researcher Links</label>
                            <textarea class="form-control" rows="10" name="links"></textarea>
                            <p class="help-block">Paste multiple Google Scholar researcher links to start a multi search.</p>
                        </div>
                        <button type="submit" class="btn btn-default btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
{#    </div>#}
    <!-- /#page-wrapper -->

{% endblock %}

{% block pagescript %}
    <script type="text/javascript">

    </script>
{% endblock %}
