<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Browse</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        {% if errors %}
            <div class="row">
                <div class="col-lg-12">
                    {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class=row>
            <div class="col-lg-12">
                <p>You can browse scraped data by type or issue a search for a specific item.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-paper-plane fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ metrics.num_documents }}</div>
                                <div>Documents!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/documents">
                        <div class="panel-footer">
                            <span class="pull-left">Full List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ metrics.num_authors_fully }}</div>
                                <div>Measured Authors!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/researchers">
                        <div class="panel-footer">
                            <span class="pull-left">Full List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-graduation-cap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ metrics.num_authors }}</div>
                                <div>Authors!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/researchers">
                        <div class="panel-footer">
                            <span class="pull-left">Full List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tags fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ metrics.num_fields }}</div>
                                <div>Fields!</div>
                            </div>
                        </div>
                    </div>
                    <a href="/fields">
                        <div class="panel-footer">
                            <span class="pull-left">Full List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">


                    <form role="form" method='POST' action='/search'>
                        <div class="form-group">
                            <input type="text" name="entity_value" class="form-control" id="url-box"
                                   placeholder="Enter {{ entity_name }}..." style="max-width: 300px;">
                            <p class="help-block">You can search for a Field of Study or Researcher.</p>
                        </div>
                        <button type="submit" class="btn btn-default btn-primary">Search</button>

                </div>
        </div>
    </div>

{% endblock %}

{% block pagescript %}



    <!-- Timeline CSS -->
    <link href="{{ url_for('static', filename='dist/css/timeline.css') }}" rel="stylesheet">

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/raphael/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/morrisjs/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris-data.js') }}"></script>
{% endblock %}
