{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Temporal Developments
                        {#                        <div class="pull-right">#}
                        {#                            <div class="btn-group">#}
                        {#                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"#}
                        {#                                        data-toggle="dropdown">#}
                        {#                                    Actions#}
                        {#                                    <span class="caret"></span>#}
                        {#                                </button>#}
                        {#                                <ul class="dropdown-menu pull-right" role="menu">#}
                        {#                                    <li><a href="#">Action</a>#}
                        {#                                    </li>#}
                        {#                                    <li><a href="#">Another action</a>#}
                        {#                                    </li>#}
                        {#                                    <li><a href="#">Something else here</a>#}
                        {#                                    </li>#}
                        {#                                    <li class="divider"></li>#}
                        {#                                    <li><a href="#">Separated link</a>#}
                        {#                                    </li>#}
                        {#                                </ul>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="timeDev" style="height:400px;">
                            <form autocomplete="off" style="margin-left:5px;margin-top:10px;float:left">
                                <select name="devType" id="devType">
                                    <option value="0" selected>#Docs</option>
                                    <option value="1">#Citations</option>
                                </select>
                            </form>
                            <div id="awesomeBarChart" style="width:800px;height:300px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block pagescript %}
    <script type="text/javascript">
        $(function () {
            new BarChart('#awesomeBarChart', 0);
            $('#devType').selectmenu({
                change: function (event, ui) {
                    $('#awesomeBarChart').data('obj').setDataIndex(parseInt(ui.item.value));
                }
            });
        });
    </script>

{% endblock %}